@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Carrois+Gothic+SC);
// font-family: 'Carrois Gothic SC', sans-serif;
// font-family: 'Open Sans', sans-serif;

$coal: #222;
$white: #FFF;
$gray: #f7f7f7;
$d-gray: #a2a2a2;
$green: #49bf9d;

// responsive
$tiny: 320px;
$small: 480px;
$phone: 640px;
$phone-l: 768px;
$tablet: 960px;
$tablet-l: 1024px;
$full: 1080px;
$desktop: 1280px;

@mixin tiny() {
	@include respond-to($tiny) { @content; }
}
@mixin small() {
	@include respond-to($small) { @content; }
}
@mixin phone() {
	@include respond-to($phone) { @content; }
}
@mixin phone-l() {
	@include respond-to($phone-l) { @content; }
}
@mixin tablet() {
	@include respond-to($tablet) { @content; }
}
@mixin tablet-l() {
	@include respond-to($tablet-l) { @content; }
}
@mixin full() {
	@include respond-to($full) { @content; }
}
@mixin desktop() {
	@include respond-to($desktop) { @content; }
}