@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Carrois+Gothic+SC);
// font-family: 'Carrois Gothic SC', sans-serif;
// font-family: 'Open Sans', sans-serif;

$l-coal: #333;
$coal: #222;
$white: #FFF;

$blue: #2980ba;
$red: #c0392b;
$cloud: #ECF0F1;
$white: #FFF;

$l-grey: darken($cloud, 10%);

$site-font: 'Open Sans', sans-serif;
$header-font: 'Carrois Gothic SC', sans-serif;
$font-light: 300;
$font-med: 500;
$font-bold: 600;

$lines-to-show: 1;

// responsive
$tiny: 320px;
$small: 480px;
$phone: 640px;
$phone-l: 768px;
$tablet: 960px;
$tablet-l: 1024px;
$full: 1080px;
$desktop: 1280px;

@mixin tiny() {
	@include respond-to($tiny) { @content; }
}
@mixin small() {
	@include respond-to($small) { @content; }
}
@mixin phone() {
	@include respond-to($phone) { @content; }
}
@mixin phone-l() {
	@include respond-to($phone-l) { @content; }
}
@mixin tablet() {
	@include respond-to($tablet) { @content; }
}
@mixin tablet-l() {
	@include respond-to($tablet-l) { @content; }
}
@mixin full() {
	@include respond-to($full) { @content; }
}
@mixin desktop() {
	@include respond-to($desktop) { @content; }
}